{% extends 'base.html' %}

{% block content %}
    <h1 class="col-12 text-monospace text-center">Обувь</h1>
    <div class="row">

      {% for shur in shurc %}
        <div class="col-12 col-md-6 col-lg-4">
          <h2>{{ shur.model }}</h2>
          <p>{{ shur.color }}</p>
          <p>{{ shur.size }}</p>
     </div>
    {% endfor %}


        <p> Всего  {{ number }}
                {% if number == 1 %}
                    вещь
                {% elif 2 <= number <= 4 %}
                    вещи
                {% else %}
                    вещей
                {% endif %}
        </p>


{% endblock %}